:root{
  --header-height: 70px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search-key-form {
  width: 70%;
}

.search-key-form input {
  width: 50%;
}

.search-by-key-button {
  margin-right: 10px;
}

.search-by-filter-button {
  margin-left: 10px;
}

span {
  margin: 0 auto;
  width: 50%;
  height: 50%;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}


#icon-seach {
  background-image: url('./images/search.png');
}

#icon-filter {
  background-image: url('./images/filter.png');
}

#icon-random {
  background-image: url('./images/random.png');
}

#icon-github {
  background-image: url('./images/github.png');
}

#icon-arrow {
  background-image: url('./images/arrow.png');
}

button {
  display: block;
  border-style: none;
  border-radius: 7px;
  background-color: #007090;
}

